* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(./assets/Главная.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: scroll;
    background-color: #2F2A2A;
}

/* NAVBAR STYLING */
#navbar {
    background-color: #2F2A2A;
    padding-left: 20px;
    position: sticky;
    z-index: 1000;
    border-bottom: 2px solid #242222;
}

#navbar img {
    display: flex;
    align-self: center;
    height: 50px;
}

.flex {
    display: flex;
    align-items: center;
}

.navContainter {
    margin-left: 340px;
    font-size: 12px;
    gap: 30px;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F7C334;
}

h1 {
    color: white;
}

.end {
    margin-left: 26.5%;
}

#cart {
    border-right: 2px solid blue;
    padding-right: 10px;
}

#lady {
    filter: invert(1);
}

.end>h2 {
    font-size: 13px;
    color: #F7C334;
    display: flex;
    margin-left: 5px;
}

.end #phone {
    height: 16px;
    margin: -25px 0 0 8px;
    filter: invert(1);
}

.end #hat {
    margin-left: 20px;
}

.end #cart {
    height: 30px;
    filter: invert(1);
}

/* SEARCH BAR STYLING */

#searchBar {
    margin: 37.5% 18.4%;
}

input[type=text] {
    width: 347.548px;
    height: 36.434px;
    border-radius: 32px;
    border: 1px solid #A3A3A3;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

#submit-btn {
    padding: 10px 20px;
    font-size: 14px;
    background: linear-gradient(to right, #4CAF50, #45a049);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.1s ease;
}

#submit-btn:hover {
    background: linear-gradient(to right, #45a049, #39843d);
    transform: scale(1.05);
}

#submit-btn:active {
    background: linear-gradient(to right, #39843d, #346e38);
    transform: scale(0.95); 
}

.search {
    padding-left: 25px;
    background-image: url("./assets/search3.png") no-repeat left;
    background-size: 20px;
}

/* Ramdom Meal */
#meal-container {
    margin: -27.8% 20% 0;
    max-width:22%;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.2 );
    border: 1px solid rgb(245, 245, 77);
    box-shadow: 0 0 10px rgb(252, 211, 5);
    border-radius: 10px;
    text-align: center;
}

/* CREATER INFORMATION */
#aboutUs {
    display: flex;
    margin-top: 3%;
}

#images {
    margin-right: 170px;
    border-bottom: 2px solid #787878;
    padding-bottom: 35px;
}

#details {
    margin-left: 170px;
    border-bottom: 2px solid #787878;
}

span {
    font-size: 54px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
}

#span {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#information {
    color: #FFF;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
}

#about {
    color: #F7C334;
}

#us {
    color: #FFF;
}

#rating {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 110px;
}

#rating h3 {
    font-size: 40px;
    color: #F7C334;
}

#rating h4 {
    font-size: 20px;
    color: #FFF;
}

.dish-image {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dish-title {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 10px;
}

.ingredients-button,
.recipe-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.ingredients-button:hover,
.recipe-button:hover {
    background-color: #45a049;
}

.ingredients-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: none;
}

.ingredients-list li {
    margin-bottom: 5px;
}

.youtube-link {
    display: block;
    color: #fff;
    background-color: #FF0000;
    padding: 8px 15px;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-top: 10px;
    border: 1px solid rgb(114, 1, 1);
    margin-left: 34%;
}

.youtube-link:hover {
    text-decoration: underline;
    background-color: #CC0000;
}

.hidden {
    display: none;
}


#meals {
    margin: 3% 11.2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 90%;
    left: 11.3%;
}

.result {
    display: none;
    margin: 2% 11.2%;
    font-size: 40px;
    text-decoration: underline;
    color: white;
}

.meal-card {
    max-width:100%;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.2 );
    border: 1px solid rgb(245, 245, 77);
    box-shadow: 0 0 10px rgb(252, 211, 5);
    border-radius: 10px;
    text-align: center;
}


/* Footer Section */
#footer {
    margin-top: 2%;
    padding: 50px;
    background-image: url("./assets/footer\ image.png");
}

#footer>h2 {
    font-size: 52px;
    color: #F7C334;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 400;
}

#footer>h3 {
    font-size: 48px;
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#marquee {
    margin-top: 2.5%;
    color: white;
    background-color: #414141;
    width: 100%;
    height: 86px;
    font-size: 32px;
    display: flex;
    align-items: center;
}

  /* test  */
  .meal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 350px;
    text-align: center;
}

.meal-image {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.7),
            1px 2px 4px 0px rgba(255, 255, 255, 0.7),
            2px 4px 8px 0px rgba(255, 255, 255, 0.7),
            2px 4px 16px 0px rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size:24px;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: rgba(37, 37, 37, 0.475);
    border: 1px solid rgb(245, 245, 77);
    box-shadow: 0 0 10px rgb(252, 211, 5);
    border-radius: 10px;
    padding: 20px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 0);
    font-weight: 500;
    height: fit-content;
    max-width: 60%;
    max-height: 80%;
    text-align: center;
    overflow-y: scroll;
}

.close {
    font-size: 100px;
    color: black;
}

.close-data>h1 {
    font-size: 40px;
    text-decoration: underline;
    padding-bottom: 20px;
}

.close-data>span {
    font-size: 40px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.close-data>span:hover {
    color: red;
}

.close-data {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}













/* Responsiveness */

@media (max-width: 475px) {
    /* NAVBAR STYLING */
    #navbar img {
        height: 20px;
    }

    .navContainter {
        display: none;
    }
    
    h1 {
        font-size: 1px;
    }
    
    .end {
        margin-left: 55%;
    }
    
    .end>h2 {
        font-size: 5px;
    }
    
    .end #phone {
        height: 10px;
        margin: -10px 0 0 8px;
    }
    
    .end #hat {
        margin-left: 10px;
    }
    
    .end #cart {
        height: 13px;
    }
    
    /* SEARCH BAR STYLING */
    
    #searchBar {
        margin: 32.5% 18.4%;
    }
    
    input[type=text] {
        width: 60px;
        height: 15px;
        font-size: 8px;
        padding: 0px 10px;
    }
    
    #submit-btn {
        padding: 4px 5px;
        font-size: 8px;
    }
    /* Ramdom Meal */
    #meal-container {
        margin: -20% auto;
        max-width: 54%;
        padding: 5px;
    }
    
    /* CREATER INFORMATION */
    #aboutUs {
        margin-top: 100px;
    }
    
    #images {
        margin-right: 50px;
        border-bottom: 2px solid #787878;
        padding-bottom: 35px;
    }

    #images>img {
        height: 80px;
    }
    
    #details {
        margin-left: 50px;
    }
    
    #span {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    
    #information {
        font-size: 5px;
        margin-top: 7px;
    }
    
    #about {
    font-size: 20px;
    }
    
    #us {
        font-size: 20px;
    }
    
    #rating {
        margin-top: 10px;
    }
    
    #rating h3 {
        font-size: 10px;
    }
    
    #rating h4 {
        font-size: 10px;
    }
    
    .dish-image {
        max-width: 100px;
    }
    
    .dish-title {
        font-size: 12px;
        margin-top: -15px;
    }
    
    .ingredients-button,
    .recipe-button {
        padding: 5px 10px;
        font-size: 8px;
    }
    
    .youtube-link {
        padding: 4px 10px;
        font-size: 8px;
    }
    
    #meals {
        margin-left: 41%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        max-width:41%;
    }
    
    .result {
        display: none;
        margin: 3% 13%;
        font-size: 12px;
    }
    
    .meal-card {
        max-width:50%;
        padding: 20px;
    }
    
    
    /* Footer Section */
    #footer {
        margin-top: 1%;
        padding: 10px;
        background-repeat: no-repeat;
    }
    
    #footer>h2 {
        font-size: 20px;
    }
    
    #footer>h3 {
        font-size: 15px;
    }
    
    #marquee {
        height: 40px;
        font-size: 20px;
    }
    
      /* test  */
    .meal-card {
        margin: 10px;
        margin-left: 50px;
        padding: 10px;
        width: 350px;
    }

    .meal-card h1 {
        font-size: 20px;
    }
    
    .meal-image {
        max-width: 100px;
        height: auto;
        border-radius: 10px;
    }
    
    /* Modal styles */
    .modal {
        font-size:14px;
    }
    
    .modal-content {
        padding: 10px;
        max-height: 60%;
    }
    
    .close-data>h1 {
        font-size: 19px;
        padding-bottom: 10px;
    }
    
    .close-data>span {
        font-size: 20px;
        margin-top: 5px;
    }
}