body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.recipe-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.dish-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dish-title {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

.ingredients-button,
.recipe-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.ingredients-button:hover,
.recipe-button:hover {
    background-color: #45a049;
}

.ingredients-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: none;
}

.ingredients-list li {
    margin-bottom: 5px;
}

.youtube-link {
    display: block;
    color: #3498db;
    text-decoration: none;
    margin-top: 10px;
}

.youtube-link:hover {
    text-decoration: underline;
}
